.container {
    display: flex;
    flex-direction: row;        
    justify-content:flex-start;
    align-items: center;

}

.container img{
    width: 150px;
    height: 150px;
    margin: 30px;
}



