<div class="container">
  <div class="d-flex justify-content-evenly w-50 tabs">
    <a class="nav-item nav-link" routerLink="customer-details" routerLinkActive="active"> <img src="../../assets/list.png" alt="grid"> Customer Details</a>
    <a class="nav-item nav-link" routerLink="customer-orders" routerLinkActive="active"><img src="../../assets/tags.png" alt="list"> Customer Orders </a>
    <a class="nav-item nav-link" routerLink="customer-edit" routerLinkActive="active"><img src="../../assets/edit.png" alt="street-view"> Edit Customer</a>    
  </div>
</div>